/*image*/
.photo{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 50%;
}

.aboutme{
    text-align: center;
    font-size: 25px;
    margin: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
.aboutmetitle{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: #FFFFFF;
}

/*Media Queries*/
@media only screen and (max-width: 900px){
    .photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .aboutmetitle{
        font-size: 80px;
        color: #FFFFFF;
    }
    .aboutme{
        position: relative;
        text-align: center;
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #FFFFFF;
    }
}

