/*Heading*/
.calmon{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin: 10px;
    color: white;
}
.subheading{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: white;
}
.description{
    text-align: center;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.prototype{
    color: white;
    text-decoration: underline;
}
/*sections in case study*/
.about{
    text-align: left;
    text-justify: auto;
    margin: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.research{
    text-align: left;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.Sprite{
    text-align: center;
    margin: 40px;
    left: 170px;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: white;
}
.Aurora{
    text-align: center;
    margin: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: white;
}
.Flynn{
    text-align: center;
    margin: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: white;
}
.aboutsprite{
    text-align: left;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.aboutaurora{
    text-align: left;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.aboutflynn{
    text-align: left;
    margin: 40px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.Style{
    text-align: center;
    text-justify: auto;
    margin: 40px;
    font-family: 'Rubik', sans-serif;
    color: white;
}
.homescreens{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 40px;
    font-size: 25px;
    color: white;
}
.styleguidedescription{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 5px;
    text-align: left;
    margin: 40px;
    color: white;
}
.aurora2{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.flynn2{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.sprite2{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

/*images in case study*/

.select{
    width: 10%;
    margin: 40px;
    justify-content: space-around;
}
.flynn{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.sprite{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.exercise{
    width: 10%;
    margin: 20px;
}
.handwash{
    width: 10%;
    margin: 20px;
}
.healthy{
    width: 10%;
    margin: 20px;
}
.technique{
    width: 10%;
    margin: 20px;
}
.library{
    width: 10%;
    margin: 20px;
}
.journal{
    width: 10%;
    margin: 20px;
}
.hug{
    width: 10%;
    margin: 20px;
}
.chat{
    width: 10%;
    margin: 20px;
}
.story{
    width: 10%;
    margin: 20px;
}
.anger{
    width: 10%;
    margin: 20px;
}
.positive{
    width: 10%;
    margin: 20px;
}
.styleguide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*descriptions next to images*/

.aboutsprite{
   margin-top: 20px;
   margin-bottom: 40px;
}



/*Media Queries*/
@media only screen and (max-width: 900px){
    .select{
        position: relative;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .aurora{
        position: relative;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .flynn{
        position: relative;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .sprite{
        position: relative;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .homescreens{
        position: relative;
        text-align: left;
        word-wrap: break-word;
    }
    /*Sprite character*/
    .technique{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .library{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .chat{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .story{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .hug{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .anger{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    /*Aurora*/
    .journal{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative; 
    }
    .positive{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    /*Flynn*/
    .exercise{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .handwash{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .healthy{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    /*Style Guide*/
    .styleguide{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}
