nav{
    font-family: 'Montserrat', sans-serif;
}
/*Heading*/
.calmon{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 70px;
    margin-top: 50px;
    color: black;
}
.overview{
    font-family: 'Montserrat';
    font-size: 25px;
    color: black;
    position: relative;
    text-align: left;
    column-count: 2;
    column-gap: 45px;
    word-wrap: break-word;
    float: right;
    background-color:#C891C1;
    width: 90%;
}
.myrole{
    font-size: 25px;
    font-family: 'Montserrat';
}
.teamsize{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.platform{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.targetaudience{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif
}
.duration{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.tools{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.overviewtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.generalprocess{
    position: relative;
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 530px;
    font-family: 'Montserrat', sans-serif;
}
.process{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}
.problemstatementtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-size: 30px;
}
.statement{
    text-align: left;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.problem{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.researchp{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 110px;
    
}
.researchprocess{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.research{
    text-align: left;
    margin: 25px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.designprocess{
    text-align: center;
    margin-top: auto;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.designp{
    position: relative;
    text-align: justify;
    font-size: 25px;
    margin-left: 130px;
    font-family: 'Montserrat', sans-serif;
}
.list{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.finals{
    position: relative;
    margin-left: 100px;
} 
.final{
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.finaldescription{
    margin: 40px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
/*images*/
.analysis{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.finalprototype{
    position: relative;
    float: left;
    margin-left: 85px;
    width: 35%;
}
.styleguide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.character{
    position: relative;
    width: 10%;
    margin-left: 170px;
}
.sketch{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   margin-top: 15px;
}
.activity{
    position: relative;
    width: 20%;
    padding: 15px;
    margin: 40px;
}
/*Media Queries*/
@media only screen and (max-width: 900px){
    html,body{
        max-width: 100%;
        overflow-x: hidden !important; 
      }
      .topnav{
        max-width: 800px;
        overflow-x: hidden;
      }
    .edd{
        text-align: center;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;  
    }
    .overview{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: black;
        position: relative;
        background-color:#CAD9FF;
        width: 100%;
        margin: auto;
        column-count: 1;
    }
    .finalprototype{
        position: relative;
        width: 50%;
        float: center;
    }
    /*Text*/
    
    .statement{
        text-align: left;
        margin: 20px;
        position: relative;
    }
    .processt{
        position: relative;
        text-align: left;
        margin-top: 5px;
        margin-right: 280px;
        font-size: 25px;
        font-family: 'Montserrat';
    }
    .design{
        text-align: left;
        width: 50%;
        word-wrap: break-word;
        position: relative;
    }
   .list{
       text-align: left;
       margin: 20px;
   }
   /*Images*/
   .analysis{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
   }
   .character{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
   }
   .activity{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
   }
   .sketch{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
   }
   .styleguide{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
   }

}