nav{
    font-family: 'Montserrat', sans-serif;
}
.finals:hover .projecttitle{
    opacity: 1;
  }
.finals:hover .cover{
    opacity: 0.3;
  }
.Title{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/*text*/
.edd{
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}
.overview{
    font-family: 'Montserrat';
    font-size: 25px;
    color: black;
    position: relative;
    text-align: left;
    column-count: 2;
    column-gap: 45px;
    word-wrap: break-word;
    float: right;
    background-color:#C891C1;
    width: 90%;
}
.myrole{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.teamsize{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.platform{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.targetaudience{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif
}
.duration{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.tools{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.overviewtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
.generalprocess{
    position: relative;
    text-align: left;
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}
.process{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}
.problemstatementtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-size: 30px;
}
.statement{
    text-align: left;
    margin-top: 15px;
    margin-left: 190px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.problem{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.processt{
    position: relative;
    text-align: left;
    margin-top: 5px;
    margin-left: 190px;
    font-size: 25px;
    font-family: 'Montserrat';
}
.researchp{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 190px;
    
}
.designp{
    position: relative;
    text-align: justify;
    font-size: 25px;
    margin-left: 190px;
    font-family: 'Montserrat', sans-serif;
}
.problemstatement{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 110px;
}
.researchprocess{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.research{
    text-align: right;
    margin: 25px;
    font-size: 25px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.designprocess{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 35px;
}
.design{
    text-align: left;
    font-size: 25px;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
}
.finals{
    position: relative;
    margin-left: 190px;
 } 

.final{
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.finaldescription{
    margin: 40px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}


.keytakeaways{
    position: relative;
    margin-left: 190px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
/*images*/
.finalprototype{
    position: relative;
    float: left;
    width: 20%;
    margin-left: 290px;
}
.finalprototype2{
    position: relative;
    float: left;
    margin-left: 290px;
    width: 20%;
}
.notes{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.map{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.test{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.wireframe{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.wireframemobile{
    position: relative;
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.wireframewatch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.styleguide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Media Queries*/
@media only screen and (max-width: 900px){
    html,body{
        max-width: 100%;
        overflow-x: hidden !important; 
      }
      .topnav{
        max-width: 800px;
        overflow-x: hidden;
      }
    .edd{
        text-align: center;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;  
    }
    .overview{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: black;
        position: relative;
        background-color:#CAD9FF;
        width: 100%;
        margin: auto;
        column-count: 1;
    }
/*Images*/
    .notes{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .map{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .styleguide{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .wireframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .wireframemobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .wireframewatch{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 110%;
    }
    .finalprototype{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .finalprototype2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }




}


