/*heading*/
.eoc{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 15px;
    font-size: 70px;
    color: white;
}
.subheading{
    text-align: center;
    margin: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: white;
}
.styleguide{
    text-align: center;
    margin: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: white;
}
/*text*/
.prototype{
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}
.research{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white; 
    margin: 10px;
}
.screenshotdescription{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.list{
    text-align: center;
    list-style: disc;
    list-style-position: outside;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; 
}
.description{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.about{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.volunteerdescription{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.feedhooddescription{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.personadescription{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.mary{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.john{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
.styleguidedescription{
    text-align: center;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}
/*images*/
.competitoranalysis{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.volunteer{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.feedhood{
    width: 15%;
    margin: 75px;
}
.styleguide{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.userpersona{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
/*Media Queries*/
@media only screen and (max-width: 900px){
    .eoc{
        font-family: 'Rubik', sans-serif;
        text-align: center;
        margin-top: 15px;
        font-size: 60px;
        color: white;
    }
    .competitoranalysis{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .volunteer{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .feedhood{
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .
    .styleguide{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
