/*heading*/
.hermitheroes{
    text-align: center;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}
.overview{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: black;
    margin-top: 35px;
    margin: 10px;
    position: relative;
    text-align: left;
    column-count: 2;
    column-gap: 15px;
    word-wrap: break-word;
    float: left;
    background-color:#CAD9FF;
    width: 100%;
}
.myrole{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.teamsize{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.platform{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.targetaudience{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif
}
.duration{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.tools{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.overviewtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
.problemstatementtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-size: 30px;
}
.statement{
    text-align: left;
    margin-top: 15px;
    margin: 25px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.problem{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.process{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.processt{
    text-align: left;
    margin: 10px;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}
.researchprocess{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.research{
    margin: 25px;
    font-size: 25px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.flowt{
    text-align: center;
    margin: 25px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.inspo{
    text-align: center;
    margin: 25px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.designprocess{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 35px;
}
.design{
    text-align: left;
    font-size: 25px;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
}
/*Images*/
.finalprototype{
    position: relative;
    float: left;
    width: 30%;
}
.flow{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.persona{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.styleguide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
.final{
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.finaldescription{
    margin: 40px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.screen{
    position: relative;
    width: 25%;
    margin: 40px;
}
/*Media Queries*/
@media only screen and (max-width: 900px){
    .hermitheroes{
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-size: 60px;
        margin-top: 15px;
    }
    .about{
        text-align: center;
        margin: 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: white;
    }
    /*Images*/
    .styleguide{
        position: relative;
        width: 100%;
    }
    .load{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .onboard{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .main{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .profile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
